body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: calc(100% - 250px);
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: #000;
}
.activ
{
    border-radius: 5px;
border: 1px solid var(--1st, #212832);
padding: 5px 10px;
}
.fade-right {
    position: relative;
    animation: fade-right 700ms forwards ease-out;
    animation-delay: var(--animation-delay);
    opacity: 0;
    right: -80px;
  }
  @keyframes fade-right {
    0% {
      opacity: 0;
      right: -80px;
    }
    100% {
      opacity: 1;
      right: 0;
    }
  }
  .fade-up {
    position: relative;
    animation: fade-up 700ms forwards ease-out;
    animation-delay: var(--animation-delay);
    opacity: 0;
    bottom: -80px;
  }
  .fade-down
  {
    position: relative;
    animation: fade-down 700ms forwards ease-out;
    animation-delay: var(--animation-delay);
    opacity: 0;
    bottom: 80px;
  }
  @keyframes fade-down
  {
    0%
    {
      opacity: 0;
      bottom: 80px;
    }
    100%
    {
      opacity: 1;
      bottom: 0;
    }
  }
  @keyframes fade-up {
    0% {
      opacity: 0;
      bottom: -80px;
    }
    60% {
      opacity: 0.7;
      bottom: 4px;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }